<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Pokemon</title>
</head>
<body>
    <form action="/pokemon/<%=id%>?_method=PUT" method="POST">
Name: <input type="text" name="name" value="<%=poke.name%>"> <br>
Image Link: <input type="text" name="img" value="<%=poke.img%>"> <br>
Types: <input type="text" class="type" value="<%=poke.type%>"> <br>
HP: <input type="text" name="hp">  <br>
Attack: <input type="text" name="attack" > <br>
Defense: <input type="text" name="defense"> <br>
<input type="submit" value="Edit Pokemon!">
    </form>
    <a href="/pokemon">Return to Pokedex</a>

</body>
</html>