<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <a href="/pokemon/new">Add New Pokemon</a>
    <% for (let i=0; i < allPokemon.length; i++) { %>  
        <!-- for loop helps up load data for each pokemon -->
    <form>
        Name: <%= allPokemon[i].name %> <br>
        <!-- adds name based on array  -->
        <img src="<%=allPokemon[i].img%>" class="thumb"> <br>
        <!-- adds pokemon img -->
        <a href="pokemon/<%=i%>">Learn More</a> <br>
        <% } %>
       
    </form>
    <style>
/* thumbnail class given limits on size so page isn't super big */
        .thumb {
            max-width: 100px;
            max-height: 100px;
        }

    </style>
</body>
</html>